html {
    background-color: white;
    margin: 0px;
}

body {
    font-size: 100%;
    /* 16 pixels */
    height: 100vh;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr 5fr 1fr;
    /*grid-template-columns: repeat(3, 1fr);*/
    width: 90%;
    margin: 0 auto;
    background-color: #D9BD9C;
}

.title {
    text-align: center;
    margin: 70px 0 20px 0;
}

@media only screen and (max-width: 770px) {
    .title {
        margin: 0 auto;
    }
}

.text-center {
    text-align: center;
}

p {
    font-family: 'Heebo', sans-serif;
    font-size: 1.3em
}

h1,
a {
    font-family: 'Oswald', sans-serif;
}

.active {
    background-color: #D9BD9C;
    /* this is the color of the clicked nav link */
    color: #444;
    cursor: pointer;
}

img.walle {
    display: none
}

span:hover+img.walle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* ------------------------------------------------------------- */

header {
    grid-column: 1 / -1;
}

#nav_menu {
    position: fixed;
    top: 0;
    /* height: 80%; */
    width: 90%;
    /* font-family: "Raleway", sans-serif; */
    font-size: 1em;
    z-index: 1000;
}

#nav_menu ul {
    list-style: none;
    position: relative;
    /* So the first submenu can be positioned within the main menu */
}

#nav_menu ul li {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
}

#nav_menu ul ul {
    display: none;
    /* Don't display submenu until hover of the li element */
    position: absolute;
    top: 100%;
    text-align: center;
    /* Position the submenu at the bottom of the main menu */
}

#nav_menu ul ul li {
    font-size: 0.8em;
    float: none;
    /* Display the submenus vertically */
    position: relative;
    /* So the second submenu can be positioned within the first submenu */
}

#nav_menu ul ul li ul {
    position: absolute;
    left: 50;
    /* Position the second submenu at the left side of the li element */
    top: 0;
    /* Position the second submenu at the top of the li element */
}

#nav_menu ul li:hover>ul {
    display: block;
    /* Display the submenu on hover of the li element */
}

#nav_menu ul::after {
    content: "";
    clear: both;
    display: block;
}

/* Styles for the formatting of the multi-tier navigation menu */
#nav_menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav_menu ul li {
    width: 25%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #4c4c4c;
    color: white;
    font-weight: bold;
}

/* #nav_menu ul li a.current {
    color: #D9BD9C;
}  */


#nav_menu ul li .active {
    /* color: #D9BD9C; */
    background-color: #D9BD9C;
    /* this is the color of the clicked nav link */
    color: #444;
    cursor: pointer;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: #D9BD9C;
}

#nav_menu ul li:hover ul {
    width: 100%;
}

#nav_menu ul li:hover ul li a {
    display: block;
    /* width: 178px; */
    text-align: center;
}

/* Hide the slicknav version of the menu by default, until 767px is reached */
.slicknav_menu {
    display: none;
}

/* Change the font size of the .nav_menu at 767px */
@media only screen and (max-width: 767px) {
    .nav_menu ul li a {
        font-size: 0.875em;
    }
}

/* Tweak the styling of .nav_menu, then replace it with the .slicknav_menu version at 767px; slicknav default styles can be tweaked here as well (I've included only one example of this below, but you can do as much as you like) */
@media only screen and (max-width: 767px) {

    /* Hide the #nav_menu at 767 px */
    #nav_menu {
        display: none;
    }

    /* Display the slicknav version of the menu at 767px */
    .slicknav_menu {
        display: block;
    }

    .slicknav_menu .slicknav_menutxt {
        color: aquamarine;
        text-shadow: 0 1px 3px #000;
        font-family: 'Oswald', sans-serif;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        display: block;
        max-width: 100px;
    }

    .slicknav_nav ul {
        margin: 0 0 0 20px;
        text-align: center;
    }
}

/* slicknav css */

/*!
  * SlickNav Responsive Mobile Menu v1.0.10
  * (c) 2016 Josh Cope
  * licensed under MIT
  */
.slicknav_btn {
    position: relative;
    display: block;
    /* vertical-align: middle; */
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.188em;
}

.slicknav_menu {
    *zoom: 1;
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
}

.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_icon:before {
    background: transparent;
    width: 1.125em;
    height: 0.875em;
    display: block;
    content: "";
    position: absolute;
}

.slicknav_menu .slicknav_no-text {
    margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_menu:before {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
}

.slicknav_nav {
    clear: both;
}

.slicknav_nav ul {
    display: block;
}

.slicknav_nav li {
    display: block;
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
}

.slicknav_nav .slicknav_item a {
    display: inline;
}

.slicknav_nav .slicknav_row {
    display: block;
}

.slicknav_nav a {
    display: block;
}

.slicknav_nav .slicknav_parent-link a {
    display: inline;
}

.slicknav_brand {
    float: left;
}

.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: #4c4c4c;
    padding: 5px;
}

.slicknav_menu * {
    box-sizing: border-box;
}

.slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
}

.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222;
}

.slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    overflow: hidden;
}

.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px;
}

.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #fff;
}

.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff;
}

.slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #222;
    padding: 8%;
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
}

.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_brand {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
}



/* ------------------------------------------------------------- */

main {
    background-color: #D9BD9C;
}

.column {
    text-align: justify;
}

.text {
    margin-left: 3%;
    margin-right: 3%;
}

/* media query that turns the stacked content areas into floated columns at desktop width  */
@media only screen and (min-width: 780px) {
    main {
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    .column {
        width: 80%;
        float: left;
        margin-left: 3%;
    }
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-column: 0 / 2; */
    width: 90%;
    margin: 0 auto;
}

aside img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
}

img.family {
    width: 100%;
    max-width: 600px;
}

img.crazy {
    display: none
}

u:hover {
    color: white;
}

span:hover+img.crazy {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    span:hover+img.crazy {
        display: block;
        position: absolute;
        top: 1;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

/* ------------------------------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D9BD9C;
}

p.foot {
    font-family: 'Heebo', sans-serif;
    font-size: 1.3em;
    margin: auto;
}

.newa {
    font-family: 'Heebo', sans-serif;
    color: black;
}

.newa:hover {
    /*color: #57493B;*/
    color: white;
}

.button {
    background-color: #D9BD9C;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    margin: 6px 3px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.button span:after {
    /*content: '\00bb';*/
    content: '\266b';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media only screen and (max-width: 500px) {
    footer {
        font-size: small;
        color: white;
        background-color: #4c4c4c;
    }

    .newa {
        color: white;
    }
}
